<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>giovanni.finder-bookmarks</string>
	<key>category</key>
	<string>WIP</string>
	<key>connections</key>
	<dict>
		<key>077F10B4-622E-46AE-8EDE-6B6EFF250C86</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8605A327-6849-4B54-9030-AC528A88FCAE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0ABF66AD-F069-4965-9C04-63CD1F760058</key>
		<array/>
		<key>1265D66B-193B-473E-B165-2CAF67A33539</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5B5F5A74-492A-4D0A-98AF-A744865D962F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>311F8FE8-3F54-458B-962A-A35C80467FC1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>61166AB6-2922-41FF-A45A-7988E089753B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F9CE6E5-0891-47A0-A91D-5A81795CBCFA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>713431EA-96C3-46B8-B97A-7313A61BC556</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F1E2D3C4-B5A6-4788-99AA-BBCCDDEEFF00</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Browse tags 🏷️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B298597B-AE8B-46DB-8BD4-A22EF16295CF</string>
				<key>modifiers</key>
				<integer>1572864</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A82FB4C5-5CB7-47F0-A04F-C5655652F828</string>
				<key>modifiers</key>
				<integer>1310720</integer>
				<key>modifiersubtext</key>
				<string>Open in {var:OPEN_IN} 🖥️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>62690D60-5A12-4EEC-A760-C0FE640A801C</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Open file</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>077F10B4-622E-46AE-8EDE-6B6EFF250C86</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>984A3281-8C80-4C1A-8776-98017E88CCC5</string>
				<key>modifiers</key>
				<integer>1179648</integer>
				<key>modifiersubtext</key>
				<string>Copy path to clipboard 📋️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>B7E2A1F0-3C4D-4E5F-9A8B-7C6D5E4F3A2B</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Rename bookmark ✏️</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>51B3A65F-5A13-4C97-A539-122B6FF16409</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1265D66B-193B-473E-B165-2CAF67A33539</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5AD41BE7-1FB1-4C51-A77E-A263FF199524</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F9CE6E5-0891-47A0-A91D-5A81795CBCFA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5B5F5A74-492A-4D0A-98AF-A744865D962F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>311F8FE8-3F54-458B-962A-A35C80467FC1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>61166AB6-2922-41FF-A45A-7988E089753B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>06F0220B-9A72-4295-96B3-BB715F28FE08</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62690D60-5A12-4EEC-A760-C0FE640A801C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C7D8BE51-08DE-4088-BBAB-BE30D55512B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>310BA568-E02B-4A87-9C02-B355A13DC02D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C8F11314-4D4C-4616-A4B2-8CF6F71E2F9B</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>713431EA-96C3-46B8-B97A-7313A61BC556</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>67175F7B-FC1F-4E88-806E-EEC36EDC86C2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>310BA568-E02B-4A87-9C02-B355A13DC02D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>AE0A6264-5C8D-4E4C-BF96-318C128DBD39</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7A47C78F-39B3-45B8-B0D1-87E298CA7E06</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F3A4356-6052-464D-8EA4-E0DDC5A7C4D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EFCEB0A3-536C-4275-8C3E-6A72E4E9CA4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8605A327-6849-4B54-9030-AC528A88FCAE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A47C78F-39B3-45B8-B0D1-87E298CA7E06</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>984A3281-8C80-4C1A-8776-98017E88CCC5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5175973C-A6AE-4557-8C22-133D2B0B1459</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F235050A-DDD8-4813-B2DF-221CAA1403A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A82FB4C5-5CB7-47F0-A04F-C5655652F828</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0ABF66AD-F069-4965-9C04-63CD1F760058</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>BC0AE1E5-1B6C-48AB-823D-E779CFF6E7F9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3B8D5F7A-2C4E-4F6A-8B1D-9E0C7A5B3D2F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6A1C2E4B-7D3F-4B8A-9E5C-1F2D3B4A5C6D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9B7F36FA-7E31-48CE-8C5B-F9D02C5C9A95</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>2E9E8B6D-788E-402F-8E20-7A66234AC86A</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>DF374E64-69BB-413A-AEB5-93D32E610F6E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>63F0F468-3FB6-4B5D-8B4E-EAC9D955A6E9</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D91F2B00-D357-4089-8811-23AE3E1B6FB0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C233E974-ADD5-4711-8A77-B175C71E1625</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>310BA568-E02B-4A87-9C02-B355A13DC02D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>173CA330-67B3-4EAB-86B5-F6222DA34B9D</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B298597B-AE8B-46DB-8BD4-A22EF16295CF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D437678-D2CD-49DE-BD6A-951782FF78BA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>443C9C11-9530-46E4-8087-ACE1AE94D11B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B7E2A1F0-3C4D-4E5F-9A8B-7C6D5E4F3A2B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4C3B2A1-F0E9-4D8C-B7A6-5F4E3D2C1B0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D4C3B2A1-F0E9-4D8C-B7A6-5F4E3D2C1B0A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8F3A4356-6052-464D-8EA4-E0DDC5A7C4D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>EFCEB0A3-536C-4275-8C3E-6A72E4E9CA4A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5F6A7B8-C9D0-4E1F-A2B3-C4D5E6F7A8B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F235050A-DDD8-4813-B2DF-221CAA1403A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>giovanni</string>
	<key>description</key>
	<string>A bookmark manager for Finder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Finder Bookmarks</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:pathMissing}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>path missing</string>
						<key>uid</key>
						<string>AE0A6264-5C8D-4E4C-BF96-318C128DBD39</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>exists</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>713431EA-96C3-46B8-B97A-7313A61BC556</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH_TO_OPEN="$1"

# Pass the path as an argv argument so quotes/backslashes in it cannot
# break or inject into the AppleScript source
if [ -d "$PATH_TO_OPEN" ]; then
    # Folder bookmark: open the folder itself in Finder
    osascript -e 'on run argv' -e 'tell application "Finder"' -e 'open (POSIX file (item 1 of argv) as alias)' -e 'activate' -e 'end tell' -e 'end run' "$PATH_TO_OPEN"
elif [ -f "$PATH_TO_OPEN" ]; then
    # File bookmark: reveal file in its parent folder
    osascript -e 'on run argv' -e 'tell application "Finder"' -e 'reveal (POSIX file (item 1 of argv) as alias)' -e 'activate' -e 'end tell' -e 'end run' "$PATH_TO_OPEN"
else
    echo "Invalid path: $PATH_TO_OPEN" &gt;&amp;2
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>67175F7B-FC1F-4E88-806E-EEC36EDC86C2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH_TO_OPEN="$1"

# Remove trailing slash if any
PATH_TO_OPEN="${PATH_TO_OPEN%/}"

if [ -d "$PATH_TO_OPEN" ]; then
    # It's a folder → open there
    wezterm start --cwd "$PATH_TO_OPEN"
elif [ -f "$PATH_TO_OPEN" ]; then
    # It's a file → open its containing folder
    FILE_DIR="$(dirname "$PATH_TO_OPEN")"
    wezterm start --cwd "$FILE_DIR"
else
    echo "Invalid path: $PATH_TO_OPEN"
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0ABF66AD-F069-4965-9C04-63CD1F760058</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>bookmark_list</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>5D437678-D2CD-49DE-BD6A-951782FF78BA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>tag_list</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>F1E2D3C4-B5A6-4788-99AA-BBCCDDEEFF00</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>443C9C11-9530-46E4-8087-ACE1AE94D11B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 delete_bookmark.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B298597B-AE8B-46DB-8BD4-A22EF16295CF</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>PATH_TO_OPEN="$1"

# Remove trailing slash if any
PATH_TO_OPEN="${PATH_TO_OPEN%/}"

if [ -f "$PATH_TO_OPEN" ]; then
    # It's a file → open its containing folder
    PATH_TO_OPEN="$(dirname "$PATH_TO_OPEN")"
fi

# Warn instead of opening a window in the wrong place when the target is gone
# or blocked by macOS privacy (TCC), e.g. app group containers like Notes.
if [ ! -d "$PATH_TO_OPEN" ]; then
    osascript -e 'display notification "Path no longer exists." with title "Finder Bookmarks"'
    exit 0
fi
if ! /bin/ls "$PATH_TO_OPEN" > /dev/null 2> /dev/null; then
    osascript -e 'display notification "Folder is protected by macOS. Grant Ghostty Full Disk Access to open it here." with title "Finder Bookmarks"'
    exit 0
fi

# Use Ghostty's AppleScript API (`open -a Ghostty &lt;dir&gt;` crashes Ghostty 1.3.1).
# The path goes in as an argv argument so quotes in it cannot break the script.
osascript -e 'on run argv' \
    -e 'tell application "Ghostty"' \
    -e 'set cfg to new surface configuration' \
    -e 'set initial working directory of cfg to item 1 of argv' \
    -e 'new window with configuration cfg' \
    -e 'activate' \
    -e 'end tell' \
    -e 'end run' "$PATH_TO_OPEN"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3B8D5F7A-2C4E-4F6A-8B1D-9E0C7A5B3D2F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>14</integer>
				<key>hotmod</key>
				<integer>524288</integer>
				<key>hotstring</key>
				<string>E</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>5AD41BE7-1FB1-4C51-A77E-A263FF199524</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:KEYWORD}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python3 list_bookmarks.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Finder Bookmarks</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>custominputarg</key>
				<string>{var:userInputString}</string>
				<key>externalid</key>
				<string>bookmark_list</string>
				<key>usecustominputarg</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3F9CE6E5-0891-47A0-A91D-5A81795CBCFA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:pathMissing}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>path missing</string>
						<key>uid</key>
						<string>173CA330-67B3-4EAB-86B5-F6222DA34B9D</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:OPEN_IN}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>iterm</string>
						<key>outputlabel</key>
						<string>iterm</string>
						<key>uid</key>
						<string>2E9E8B6D-788E-402F-8E20-7A66234AC86A</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:OPEN_IN}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>yazi</string>
						<key>outputlabel</key>
						<string>yazi</string>
						<key>uid</key>
						<string>63F0F468-3FB6-4B5D-8B4E-EAC9D955A6E9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:OPEN_IN}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>wezterm</string>
						<key>outputlabel</key>
						<string>wezterm</string>
						<key>uid</key>
						<string>BC0AE1E5-1B6C-48AB-823D-E779CFF6E7F9</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:OPEN_IN}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>terminal</string>
						<key>outputlabel</key>
						<string>terminal</string>
						<key>uid</key>
						<string>C233E974-ADD5-4711-8A77-B175C71E1625</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:OPEN_IN}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>ghostty</string>
						<key>outputlabel</key>
						<string>ghostty</string>
						<key>uid</key>
						<string>6A1C2E4B-7D3F-4B8A-9E5C-1F2D3B4A5C6D</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>A82FB4C5-5CB7-47F0-A04F-C5655652F828</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    set homeFolder to (system attribute "HOME")
    -- If the path starts with "~", replace it with the full home directory path
    if q starts with "~" then
        set q to homeFolder &amp; text 2 thru -1 of q
    end if
    
    -- Use shell command to check if path is a directory
    set isDir to do shell script "[ -d " &amp; quoted form of q &amp; " ] &amp;&amp; echo 'true' || echo 'false'"
    
    -- If it's not a directory (i.e., it's a file), get its parent directory
    if isDir is "false" then
        -- Extract the directory path using dirname shell command
        set q to do shell script "dirname " &amp; quoted form of q
    end if
    
    set escapedPath to quoted form of q
    
    tell application "iTerm"
        activate
        tell current window
            create tab with default profile
            tell current session
                write text "cd " &amp; escapedPath
            end tell
        end tell
    end tell
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>9B7F36FA-7E31-48CE-8C5B-F9D02C5C9A95</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>📋️ Path copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5175973C-A6AE-4557-8C22-133D2B0B1459</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:pathMissing}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>1</string>
						<key>outputlabel</key>
						<string>path missing</string>
						<key>uid</key>
						<string>C8F11314-4D4C-4616-A4B2-8CF6F71E2F9B</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>exists</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>62690D60-5A12-4EEC-A760-C0FE640A801C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>myInput</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>077F10B4-622E-46AE-8EDE-6B6EFF250C86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>wezterm start -- yazi "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DF374E64-69BB-413A-AEB5-93D32E610F6E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>984A3281-8C80-4C1A-8776-98017E88CCC5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python3 tag_menu.py "$myInput" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8605A327-6849-4B54-9030-AC528A88FCAE</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinterminal</string>
			<key>uid</key>
			<string>D91F2B00-D357-4089-8811-23AE3E1B6FB0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>C7D8BE51-08DE-4088-BBAB-BE30D55512B5</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 rename_bookmark.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D4C3B2A1-F0E9-4D8C-B7A6-5F4E3D2C1B0A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>⚠️ Path not found</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>310BA568-E02B-4A87-9C02-B355A13DC02D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>enter the new bookmark name ✏️</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B7E2A1F0-3C4D-4E5F-9A8B-7C6D5E4F3A2B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>bookmark_list</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>8F3A4356-6052-464D-8EA4-E0DDC5A7C4D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>bookmark_list</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>F235050A-DDD8-4813-B2DF-221CAA1403A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 "./toggle_tag.py" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7A47C78F-39B3-45B8-B0D1-87E298CA7E06</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:TAG_KEYWORD}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>/usr/bin/python3 list_tags.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>browse bookmarks by tag</string>
				<key>title</key>
				<string>Bookmark Tags</string>
				<key>type</key>
				<integer>11</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>tag_list</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E5F6A7B8-C9D0-4E1F-A2B3-C4D5E6F7A8B9</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:notification_subtitle}</string>
				<key>title</key>
				<string>{var:notification_title}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>EFCEB0A3-536C-4275-8C3E-6A72E4E9CA4A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>no_extension</key>
					<true/>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/files-and-folders/path.basename</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>5B5F5A74-492A-4D0A-98AF-A744865D962F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>enter the bookmark name 🔖</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>311F8FE8-3F54-458B-962A-A35C80467FC1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 add_bookmark.py "$1" "$filePath"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>61166AB6-2922-41FF-A45A-7988E089753B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array/>
				<key>name</key>
				<string>Create Finder Bookmark 🔖</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>51B3A65F-5A13-4C97-A539-122B6FF16409</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>bookmark created 🎯</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>06F0220B-9A72-4295-96B3-BB715F28FE08</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>filePath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1265D66B-193B-473E-B165-2CAF67A33539</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Finder Bookmarks

A simple bookmark manager for Finder folders and files, via Alfred.

## Usage
Type the keyword `bbf` (configurable) plus an optional search term to filter by name, path, or tag. On any result:

- `Enter`: reveal in Finder
- `⌘`: open the file directly
- `⌥`: rename the bookmark
- `⌃`: add or remove tags
- `⇧`: browse bookmarks by tag
- `⌃⌘`: open in terminal/file manager (Terminal, Ghostty, iTerm, WezTerm, Yazi)
- `⇧⌘`: copy the path to the clipboard
- `⌥⌘`: delete the bookmark

Create bookmarks from Alfred's file browser or from Finder (File Action).

## Tags
Add tags to a bookmark with `⌃`.

Search and browse bookmarks by tag with the keyword `bbt` (configurable), or press `⇧` on any result in the bookmark list.</string>
	<key>uidata</key>
	<dict>
		<key>06F0220B-9A72-4295-96B3-BB715F28FE08</key>
		<dict>
			<key>xpos</key>
			<real>1115</real>
			<key>ypos</key>
			<real>1185</real>
		</dict>
		<key>077F10B4-622E-46AE-8EDE-6B6EFF250C86</key>
		<dict>
			<key>xpos</key>
			<real>490</real>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>0ABF66AD-F069-4965-9C04-63CD1F760058</key>
		<dict>
			<key>xpos</key>
			<real>1280</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>1265D66B-193B-473E-B165-2CAF67A33539</key>
		<dict>
			<key>xpos</key>
			<real>810</real>
			<key>ypos</key>
			<real>1225</real>
		</dict>
		<key>310BA568-E02B-4A87-9C02-B355A13DC02D</key>
		<dict>
			<key>xpos</key>
			<real>1290</real>
			<key>ypos</key>
			<real>755</real>
		</dict>
		<key>311F8FE8-3F54-458B-962A-A35C80467FC1</key>
		<dict>
			<key>xpos</key>
			<real>600</real>
			<key>ypos</key>
			<real>1185</real>
		</dict>
		<key>3B8D5F7A-2C4E-4F6A-8B1D-9E0C7A5B3D2F</key>
		<dict>
			<key>xpos</key>
			<real>1285</real>
			<key>ypos</key>
			<real>225</real>
		</dict>
		<key>3F9CE6E5-0891-47A0-A91D-5A81795CBCFA</key>
		<dict>
			<key>xpos</key>
			<real>270</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>443C9C11-9530-46E4-8087-ACE1AE94D11B</key>
		<dict>
			<key>xpos</key>
			<real>1070</real>
			<key>ypos</key>
			<real>135</real>
		</dict>
		<key>5175973C-A6AE-4557-8C22-133D2B0B1459</key>
		<dict>
			<key>xpos</key>
			<real>1295</real>
			<key>ypos</key>
			<real>350</real>
		</dict>
		<key>51B3A65F-5A13-4C97-A539-122B6FF16409</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>1185</real>
		</dict>
		<key>5AD41BE7-1FB1-4C51-A77E-A263FF199524</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>245</real>
		</dict>
		<key>5B5F5A74-492A-4D0A-98AF-A744865D962F</key>
		<dict>
			<key>xpos</key>
			<real>360</real>
			<key>ypos</key>
			<real>1185</real>
		</dict>
		<key>5D437678-D2CD-49DE-BD6A-951782FF78BA</key>
		<dict>
			<key>xpos</key>
			<real>1070</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>61166AB6-2922-41FF-A45A-7988E089753B</key>
		<dict>
			<key>xpos</key>
			<real>835</real>
			<key>ypos</key>
			<real>1185</real>
		</dict>
		<key>62690D60-5A12-4EEC-A760-C0FE640A801C</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>400</real>
		</dict>
		<key>67175F7B-FC1F-4E88-806E-EEC36EDC86C2</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>713431EA-96C3-46B8-B97A-7313A61BC556</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>15</real>
		</dict>
		<key>7A47C78F-39B3-45B8-B0D1-87E298CA7E06</key>
		<dict>
			<key>xpos</key>
			<real>1050</real>
			<key>ypos</key>
			<real>925</real>
		</dict>
		<key>8605A327-6849-4B54-9030-AC528A88FCAE</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>555</real>
		</dict>
		<key>8F3A4356-6052-464D-8EA4-E0DDC5A7C4D4</key>
		<dict>
			<key>xpos</key>
			<real>1285</real>
			<key>ypos</key>
			<real>885</real>
		</dict>
		<key>984A3281-8C80-4C1A-8776-98017E88CCC5</key>
		<dict>
			<key>xpos</key>
			<real>620</real>
			<key>ypos</key>
			<real>505</real>
		</dict>
		<key>9B7F36FA-7E31-48CE-8C5B-F9D02C5C9A95</key>
		<dict>
			<key>xpos</key>
			<real>1065</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>A82FB4C5-5CB7-47F0-A04F-C5655652F828</key>
		<dict>
			<key>xpos</key>
			<real>855</real>
			<key>ypos</key>
			<real>285</real>
		</dict>
		<key>B298597B-AE8B-46DB-8BD4-A22EF16295CF</key>
		<dict>
			<key>xpos</key>
			<real>665</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>B7E2A1F0-3C4D-4E5F-9A8B-7C6D5E4F3A2B</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>810</real>
		</dict>
		<key>C7D8BE51-08DE-4088-BBAB-BE30D55512B5</key>
		<dict>
			<key>xpos</key>
			<real>820</real>
			<key>ypos</key>
			<real>620</real>
		</dict>
		<key>D4C3B2A1-F0E9-4D8C-B7A6-5F4E3D2C1B0A</key>
		<dict>
			<key>xpos</key>
			<real>635</real>
			<key>ypos</key>
			<real>725</real>
		</dict>
		<key>D91F2B00-D357-4089-8811-23AE3E1B6FB0</key>
		<dict>
			<key>xpos</key>
			<real>1290</real>
			<key>ypos</key>
			<real>615</real>
		</dict>
		<key>DF374E64-69BB-413A-AEB5-93D32E610F6E</key>
		<dict>
			<key>xpos</key>
			<real>1290</real>
			<key>ypos</key>
			<real>480</real>
		</dict>
		<key>E5F6A7B8-C9D0-4E1F-A2B3-C4D5E6F7A8B9</key>
		<dict>
			<key>xpos</key>
			<real>280</real>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>EFCEB0A3-536C-4275-8C3E-6A72E4E9CA4A</key>
		<dict>
			<key>xpos</key>
			<real>1285</real>
			<key>ypos</key>
			<real>1035</real>
		</dict>
		<key>F1E2D3C4-B5A6-4788-99AA-BBCCDDEEFF00</key>
		<dict>
			<key>xpos</key>
			<real>430</real>
			<key>ypos</key>
			<real>70</real>
		</dict>
		<key>F235050A-DDD8-4813-B2DF-221CAA1403A3</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>910</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bbf</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to launch the Workflow</string>
			<key>label</key>
			<string>Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>KEYWORD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>bbt</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Keyword to browse bookmarks by tag</string>
			<key>label</key>
			<string>Tag keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>TAG_KEYWORD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>terminal</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Ghostty</string>
						<string>ghostty</string>
					</array>
					<array>
						<string>iTerm</string>
						<string>iterm</string>
					</array>
					<array>
						<string>Yazi</string>
						<string>yazi</string>
					</array>
					<array>
						<string>Terminal</string>
						<string>terminal</string>
					</array>
					<array>
						<string>Wezterm</string>
						<string>wezterm</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Application to open</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>OPEN_IN</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/giovannicoppola/Finder-Bookmarks</string>
</dict>
</plist>
